[Unit]
Description=Redis Docker Compose Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/timur/Work/ProznanieQueue
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always

[Install]
WantedBy=multi-user.target